:root {
    --border: 1px solid black;
    --background-color-opacity: rgb(153 226 255 / 70%) ;
    --background-color: #99E2FF; /* primary-color */
    --main-brown: #472e0b; /* secondary-color */
    --main-orange: #c86304; /* accent1-color */
    --main-jade: #57A773; /* accent2-color */
    --padding: 10px;
   }
/*header section */
header {
    display: grid;
    grid-template-columns: 50px 2fr 4fr;
    align-items: center;
    background-color: var(--background-color);
    max-width: 1200px;
    padding: 5px;
    margin: 5px;
    }
img {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
}

.navigation {
    display: flex;
    grid-column-start: 3;
    list-style: none;
    align-content: center;
}


.navigation a {
    display: flex;
    color: var(--main-brown);
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.navigation a:hover {
    color: var(--main-jade);
    font-weight: 700;
    text-decoration: underline;

}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    color: black;
    font-family: "Noto Serif", Times, serif;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background-color: var(--background-color-opacity);
    margin: 20px;
}

h2 {
    color: var(--main-brown);
    font-family: "Noto Serif", Times, serif;
}

p {
    padding: 0;
    font-family: 'Inter', Geneva, sans-serif;
}


/*main section */

main {
	font-family: 'Inter', Arial, sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}


article {
    display:flex;
    align-items: center;
}
.hero {
    position: relative;    
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    text-align: left;
    position: absolute;
    top: 100px;
    margin: 100px;
    padding: 5px;
    border: 10px;
    background-color:var(--background-color-opacity);
    color: black;
}

.info {
    height: auto;
    width: 1000px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: center;
    color: black;
    font-family: "Noto Serif", Times, serif;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    background-color: var(--background-color-opacity);
    margin: 20px; 
}

.hero article img {
    float: right;
    width: 80px; 
    height: auto;
    margin: 10px;
}

.employee {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.contact {
    position: relative;    
}
.contact img {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

.contact p {
    padding: 10px;
    line-height: 15px;

}

.contact article {
    text-align: center;
    position: absolute;
    top: 50px;
    margin: 50px;
    padding: 5px;
    border: 5px;
    background-color:var(--background-color-opacity);
    color: black;
}
.contact article img{
    align-items: center;
    width: 100px; 
    height: auto;
    margin: 10px;
}

.address {
    padding: 5px;
}


.history {
    display: grid;
    border: 1px solid black;
    max-width: 1200px;
    margin: 10px; 
    }

.history h2 {
    display: grid;
    justify-content: center;
    }

.history img {
    width: 110px;
    justify-content: center;
    align-self: center;
    }

.wrapper {
    display: flex;
    flex-direction: row;
}

.text {
    padding: 20px;
    align-content: center;
}

.text2 {
    padding: 20px;
    align-content: center;
}
.adventure {
    display: grid;
    border: 1px solid black;
    max-width: 1200px;
    margin: 10px; 
}

.adventure h2 {
    display: grid;
    justify-content: center;
}
.adventure p {
    padding: 0px 30px;
    text-align: center;
}
.adventure figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
}

.adventure figure img {
    height: 70px;
    width: auto;
}
.adventure figure figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.trips {
    display: flex;
    flex-direction: row;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--background-color);
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    padding: 10px;
   
}
footer a {
    color: black;
}

footer p {
    grid-column-start: 2;
    grid-column-end: 5;
}
.sociallinks {
    display: flex; 
    justify-content: space-around;
    align-self: center
}

.sociallinks img {
    height: 40px;
    width: auto;
}

.sociallinks a {
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltiptext {
    visibility: hidden;
    width: 200px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: var(--main-brown);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px; 
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    padding: 2px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* The contact us form */

form {
    width: 900px;
    margin: 0 auto;

    border-radius: 5px;
    background-color: var(--background-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 3px;
    margin: 1rem;
    padding: .8rem;
    border: 1px solid rgb(76, 0, 255);
    
}

legend {
    padding: 5px;
    color:black;
    font-size: 1.4rem;
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: right;
    padding-right: 10px;
}

input  {
    width: 50%;
    padding: 5px;
    font-size: 1rem;
}

select {
    padding: 5px;
    font-size: 1rem;
}



textarea {
    width: 90%;
    padding: 5px;
    font-size: 1rem;
}



button {
    margin: 10px;
    background-color: var(--main-orange);
    border-radius:.4rem;
    padding: 15px;
    font-size: large;
}


button:hover {
    background-color:blueviolet;
}

/* The container for radio buttons*/

input[type="radio"] {
    width: 15px; 
    height: 15px;
    margin-left: 100px; 
}

input[type="radio"] + label:after {
    content: '';
    display: block;
  }


.map {
    display: inline-block;
    width: 70%;
    height: auto;
    border: 0;
}
.column1 {
    display: flex;
    margin: 0.5rem 0;
    align-items: start;
}

.check {
    width: unset;
    margin: 0 0.5em 0 0;

}

input[type="checkbox"] {
    padding: 1px;
    margin-left: -180px; 
    transform: scale(2);       
}

