* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box; 
 }
 
 body {
    font-family: Inter;
    font-size: medium;
    counter-reset: question;
}

 header {
     margin: 10px auto 0;
     width: 700px;
     background-color:white;
     display: flex;
 }

 img {
    height: 50px;
    width: auto;
 }

 h1 {
     font-size: 2rem;
     color: rgb(5, 5, 110);
     font-family: serif;
     display: flex;
     flex-direction: row;
 }
 
 form {
    width: 700px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

fieldset {
    padding: 10px;

    flex-direction:column;
}
  



label::before {
    counter-increment: question;
    content: counter(question) ".    ";
    color:blue;
    font-weight: bolder;

}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;

}

label {
    text-align: right;
    padding-right: 20px;
    display: flex;

}

input, select, textarea {
    padding: 5px;
    font-size: 1rem;
    width: 100%;
}

.sample {
    margin: 10px 160px;
    padding: 3px;
    background-color: rgb(63, 62, 62);
    color: white;
    text-align: left;
    font-size: 15px;
}

button {
    margin: 10px;
    background-color: yellow;
    border-radius:.4rem;
    padding: 15px;
    font-size: large;
    width: 97%;
}


button:hover {
    background-color:blueviolet;
}
p {
    text-align: center;
}

footer {
    margin: 10px auto 0;
    width: 700px;
    text-align: center;
    border-top: 1px solid black;
    color: rgb(5, 5, 110);
}