nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}

main {
    max-width: 900px;
}

aside {
    width: 22rem;
    margin: 20px;
    border: 2px solid black;
    background-color: #00eeff;
    color: rgb(28, 0, 128);
    text-align: center;
}

aside img {
    width: 300px;
    height: auto;
}

footer {
    margin-top: 15px;
    border: 1px solid black;
    text-align: center; 
}